// Variables

// these to control global styles
$bodyBgColor:    #fff;
$bodyFontColor:  #444;
$bodyFontFamily: Arial, 微軟正黑體, 'Microsoft JhengHei', 新細明體, 'Microsoft YaHei', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
$baseFontSize:   12px;
$baseLineHeight: 1.8;

//Stylesheet Path
$image-dir:'../images/';
$image-dir-icon:'../images/icon/';
@mixin bg($filename) {
  background-image: url(#{$image-dir}#{$filename});
}
@mixin icon($filename) {
  background-image: url(#{$image-dir-icon}#{$filename});
  background-position: 0 center;
  background-repeat: no-repeat;
}
@mixin icon16 {
  width: 16px;
  height: 16px;
}
@mixin wh($Width,$Height) {
  width: #{$Width}px;
  height: #{$Height}px;
}
//color
$PrimaryColor:  #86e4c0;
$PrimaryColor2: #5e9f86;

@mixin clearfix {
  &:before, &:after {
    content: ""; 
    display: block; 
    height: 0; 
    overflow: hidden; 
  }
  &:after {
     clear: both;
  }
}
@mixin circle {
  @include border-radius (999px);
}
@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@mixin animation($name) {
  -webkit-animation: $name;
  -moz-animation: $name;
  -ms-animation: $name;
  //animation: $name;
}
@mixin keyframes($name) {
  @-webkit-keyframes $name { @content; }
  @-moz-keyframes $name { @content; }
  @-ms-keyframes $name { @content; }
}