@import "compass/reset";
@import "compass/css3";
@import "variables";

// Grid system
@import "960/grid";
.container_12 {
  @include grid-system(12);
  @include clearfix;
}
$ninesixty-columns: 24;
.two-column {
  @include grid-container;
  // #header, #footer {
  //   @include grid(24);
  // }
  .sub {
    @include grid(6);
  }
  .main-content {
    @include grid(18);
  }
}

// Reset
body {
  background-color: $bodyBgColor;
  color:            $bodyFontColor;
  font-family:      $bodyFontFamily;
  font-size:        $baseFontSize;
  line-height:      $baseLineHeight;
}
a {
  text-decoration: none;
  color: $PrimaryColor2;
}
img {
  max-width: 100%;
}
h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}
// 全域共用 排版樣式
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.img-circle {
  @include border-radius (50%);
}
// 新人推薦分享
.grid_6 .grid_2 {
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

// 板面
.wrapper {
  margin: 0 auto;
  width: 980px;
  border: 10px solid $PrimaryColor;
}
.header {
  position: relative;
  z-index: 9;
}
.banner {
  position: relative;
  margin-top: 55px;
  height: 300px;
  z-index: 7;
  /*範例*/
  background: url(../images/assets/Slideshow.png);
}
.main {
  @include clearfix;
  padding: 20px;
  background-color: #f0f0f0;
  > .container_12 {
    margin-left: -10px;
  }
  .main-content {
    &.grid-list {
      .grid_3:nth-child(3n+1) {
        margin-left: 0;
      }
      .grid_3:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}
.footer {
  font-size: 13px;
  @include clearfix;
  padding: 20px;
  background-color: #fff;
}
.section {
  @include clearfix;
  margin-bottom: 20px;
}
.logo {
  @include bg('logo.png');
  width: 98px;
  height: 98px;
  margin: 56px auto 0;
}
.navbar {
  width: 980px;
  height: 51px;
  border-bottom: 4px solid #ddd;
  background-color: #fff;
  position: absolute;
  .nav {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .1em;
    > li {
      float: left;
      overflow: hidden;
      > a {
        padding: 16px 0 14px;
        display: block;
        color: #000;
        text-decoration: none;
        > span {
          display: block;
          padding: 0 18px;
          border-left: 1px solid #ededed;
        }
      }
      &.active , &:hover {
        background-color: $PrimaryColor;
      }
      &:first-child span {
        border: none;
      }
    }
    &.left {
      margin-left: 60px;
      float: left;
    }
    &.right {
      margin-right: 30px;
      float: right;
    }
  }
}
@mixin logocircle {
  position: absolute;
  width: 170px;
  height: 170px;
  padding: 4px;
  top: -56px;
}
.logo-mask {
  @include logocircle;
  overflow: hidden;
  margin-left: -89px;
  top: 0;
  left: 50%;
}
.logo-circle {
  @include circle;
  @include logocircle;
  padding: 4px;
  background-color: #ddd;
}
.logo-circle-inner {
  background-color: #fff;
  @include circle;
  @include logocircle;
  padding: 0;
  margin: 4px;
} 
.login , .join {
  position: absolute;
  width: 78px;
  height: 78px;
  @include circle;
  right: 20px;
  top: 25px;
  padding-top: 40px;
  @include bg('login-icon.png');
  background-repeat: no-repeat;
  background-position: center 12px;
  background-color: #a9a9a9;
  text-align: center;
  color: #fff;
  @include box-sizing (border-box);
  a {
    color: #fff;
  }
}
.page-heaer {
  position: absolute;
  top: 64px;
  @include box-shadow (4px 2px 5px rgba(0,0,0,.2));
  background-color: #fff;
  h1 {
    @include hide-text;
  }
  span {
    @include hide-text;
  }
}
.search-bar {
  position: absolute;
  width: 900px;
  height: 41px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $PrimaryColor;
  border-bottom: 2px solid $PrimaryColor2;
  @include border-radius (8px);
  @include box-shadow (0px 2px 1px rgba(71,73,60,0.3));
  bottom: 0;
  > .ul > .li {
    height: 40px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    border-left: none;
    position: relative;
  }
  > .ul > .li + .li {
    border-left: 3px solid #78d1af;
  }
}

.select , .input-text , .search-btn {
  height: 23px;
  line-height: 25px;
  background-color: #fff;
  padding: 2px 40px 0 20px;
  display: inline-block;
  color: $PrimaryColor;
  font-size: 16px;
  font-weight: bold;
}
// .select {
//   margin-top: 7px;
//   @include border-radius (3px);
//   @include bg('select-arrow.png');
//   background-position: center right;
//   background-repeat: no-repeat;
//   @include box-shadow (0 1px rgba(255,255,255,.6), inset 0 2px rgba(0,0,0,.2));
// }
.search-box {
  width: 285px;
  @include box-shadow (0 2px 1px rgba(71,73,60,.25));
  @include border-radius (6px);
  margin-top: 7px;
  @include clearfix;
  overflow: hidden;
  position: relative;
  .input-text , .search-btn {
    float: left;
    @include reset-box-model;
  }
  .input-text {
    width: 185px;
    padding: 2px 10px 0 10px;
    //@include border-radius (6px 0 0 6px);
    @include box-shadow (inset 0 -2px rgba(0,0,0,.3));
  }
  .search-btn {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    border: none;
    width: 80px;
    height: 25px;
    padding: 2px 30px 0 10px;
    //@include border-radius (0 6px 6px 0);
    background-color: #71c4a4;
    @include bg ('search.png');
    background-position: center right;
    background-repeat: no-repeat;
    border-bottom: 2px solid #4f8972;
    cursor: pointer;
  }
}

/*FOOTER*/
.footer {
  font-family: 'Times New Roman','Times',微軟正黑體, 'Microsoft JhengHei', 新細明體,serif;
  color: #000;
  a {
    color: #000;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
    height: 28px;
    color: #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
    margin-bottom: 20px;
  }
}

ul.menu-stacked {
  > li {
    margin: 2px 0;
    > a {
      position: relative;
      display: block;
      padding: 4px 10px;
      display: block;
    }
    &.active {
      background-color: $PrimaryColor;
      color: #fff;
    }
  }
}
.coontact-icon {
  padding-left: 32px;
  @include bg('contact-icon.png');
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  line-height: 18px;
}
.copyright {
  @include clearfix;
  margin: -20px;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  color: #a4a4a4;
}

/*breadcrumb*/
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  > li {
    display: inline-block;
    > a {
      color: #909090;
      font-size: 12px;
    }
    &.active {
      a {
        color: #000;
      }
    }
  }
  li + li:before {
    padding: 0 6px;
    color: #cccccc;
    content: url(../images/breadcrumb.png);
  }
  > li:first-child {
    &:before {
      content: "您的位置：";
      padding-right: 5px;
    }
  }
}

.well {
  background-color: rgb( 255, 255, 255 );
  @include border-radius (2px);
  @include box-shadow (1px 2px 5px 0px rgb( 204, 204, 204 ));
  margin-bottom: 10px;
  &.lb {
    border-color: $PrimaryColor;
    border-left-width: 5px;
    border-left-style: solid;
  }
  &.tb {
    border-color: $PrimaryColor;
    border-top-width: 5px;
    border-top-style: solid;
  }
}
/*頁面區塊標題*/
.page-title {
  @include wh(180,20);
  @include hide-text;
  display: block;
  margin: 30px 10px 10px;
  clear: both;
  &.pt-1 {
    @include bg('pt-s-pf.png');
  }
  &.pt-2 {
    @include bg('pt-s-p.png');
  }
  &.pt-3 {
    @include bg('pt-o-t.png');
  }
  &.pt-4 {
    @include bg('pt-new.png');
  }
  &.pt-5 {
    @include bg('pt-n-p.png');
  }
}
.activity {
  @include clearfix;
  clear: both;
  margin-bottom:10px; 
  dt , dd {
    color: $PrimaryColor;
    display: block;
    padding: 2px;
    min-height: 23px;
  }
  .trending { @include icon('trending-icon-p.png');}
  .favorite { @include icon('favorite-icon-p.png');}
  .share    { @include icon('share-icon-p.png');}
  .hart    { @include icon('share-icon-p.png');}
}

/*.sub*/
.sub {
  @include box-shadow (0 3px 3px rgba(0,0,0,.3));
  background-color: #fff;
}
.sub-header {
  text-align: center;
  background-color: #fff;
  @include box-shadow(0 2px 5px rgba(0,0,0,.22));
  background-image: url('../images/assets/sub-header.png');
  font-size: 14px;
  line-height: 37px;
}
.pnl {
  padding: 10px;
}
.pnlh {
  @include bg('p-space.gif');
  background-position: center;
  background-repeat: repeat-x;
  text-align: center;
  margin-bottom: 10px;
  h5 {
    display: inline-block;
    padding: 5px 15px;
    color: $PrimaryColor;
    font-size: 14px;
    margin: 0 auto;
    background-color: #fff;
  }
}

.stylist-profile {
  border-top: 5px solid $PrimaryColor;
  padding: 10px;
  p {
    margin-bottom:20px; 
  }
}
.activity.stacked {
  dt {
    width: 4em;
    padding-left: 24px;
    float: left;
  }
  dd {
    width: auto;
    padding-left: inherit;
    margin-left: 5em;
  }
}
.back-btn {
  background-color: $PrimaryColor;
  color: #fff;
  display: block;
  line-height: 37px;
  border-bottom: 3px solid #e5e5e5;
  padding-left: 48px;
  margin: 20px 0;
  @include bg('back-btn.png');
  background-repeat: no-repeat;
  background-position: 24px center;
}
.photo-list-container {
  background-color: #fff;
  @include box-shadow(-1px 2px 5px rgba(0,0,0,.22));
  padding: 10px 13px 10px 12px;
  color: #909090;
  position: relative;
  h3 {
    margin: 10px 0;
    color: #000;
    font-weight: bold;
    margin-right: 80px;//字數太多會撞到彩帶
  }
}
.ribbon {
  @include bg('ribbon.png');
  width: 38px;
  height: 51px;
  position: absolute;
  top: -12px;
  cursor: pointer;
  &.favorite {
    right: 13px;
    .icon {
      @include icon('favorite-icon-w.png');
      @include wh(16,16);
      margin-left: 12px;
      margin-top: 14px;
    }
  }
  &.share {
    right: 55px;
    .icon {
      @include icon('share-icon-w.png');
      @include wh(16,16);
      margin-left: 12px;
      margin-top: 14px;
    }
  }
}
.activity.inline {
  dt , dd {
    float: left;
  }
  dt {
    width: 1.5em;
  }
  dd {
    width: 3em;
  }
}
.photo-list > li {
  display: inline-block;
  padding: 10px;
  width: 205px;
  vertical-align: top;
  a {
    display: block;
  }
  p {
    //@include word-break(break-all);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    height: 1.5em;
  }
}
.item {
  background-color: #fff;
  @include box-shadow(0 3px rgba(0,0,0,.05));
  margin-bottom: 30px;
  .hover {
    display: none;
  }
  &:hover {
    .hover {
      display: block;
    }
    .quick-view {
      @include animation (moveFromTop 300ms ease-in-out);
    }
    .activity.inline {
      @include animation (moveFromBottom 300ms ease-in-out);
    }
  }
}
.avatar-wrapper {
  position: relative;
  height: 220px;
  overflow: hidden;
  .avatar {
    position: absolute;
  }
  .hover {
    background-color: rgba(134,228,192,.3);
    //@include opacity (0.3);
    @include wh(220,220); 
    position: absolute;
    overflow: hidden;
    .activity.inline {
      @include transition (all 300ms linear );
      width: 210px;
      bottom: 0;
      position: absolute;
      background-color: #fff;
      display: block;
      margin: 0;
      padding: 5px;
    }
  }
  .quick-view {
    @include wh(40,40);
    padding: 26px;
    @include border-radius (999px);
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-family: 'PT Sans';
    margin-left: -46px;
    left: 50%;
    position: absolute;
    top: 45px;
    color: $PrimaryColor;
    @include transition (all 300ms linear);
  }
}
.item-description {
  @include clearfix;
  .avatar {padding: 5px;}
  .name {
    padding-top: 5px;
  }
  .enname {
    font-family: Didot;
  }
  .name , .enname {
    line-height: 20px;
  }
}
.collaboration-btn {
  display: block;
  @include wh(40,40);
  @include hide-text;
  @include bg('collaboration-btn.png');
  background-color: $PrimaryColor;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
}
@include keyframes(moveFromBottom) {
  from {
    @include transform(translateY(200%));
    opacity: 0;
  }
  to {
    @include transform(translateY(0%));
    opacity: 1;
  }
}

@include keyframes(moveFromTop) {
  from {
    @include transform(translateY(-200%));
    opacity: 0;
  }
  to {
    @include transform(translateY(0%));
    opacity: 1;
  }
}
.share-to {
  display: block;
  cursor: pointer;
  .share-to-tooltip {

  }
}
.share-to-tooltip {
  color: #fff;
  display:none; 
  text-align:center;
  background-color: #e76049;
  color:white; 
  padding:10px;
  width:60px;
  position:fixed; 
  z-index: 9999;
  word-spacing: nowrap;
  width: 144px;
  a {
    display: block;
  }
  ul {
    padding-top: 10px;
  }
  li {
    padding: 5px;
    border-top: 1px solid #e96f5a;
  }

  &:hover {
    .hover {
      display: block;
    }
  }
  &:after {
    display: inline-block;
    position: absolute;
    left: -12px;
    top: 4px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 24px solid #e76049;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}