@import "compass/reset";
@import "compass/css3";
@import "variables";

// Grid system
@import "960/grid";
.container_12 {
  @include grid-system(24);
  @include clearfix;
  position: relative;
}
$ninesixty-columns: 24;
.two-column {
  @include grid-container;
  // #header, #footer {
  //   @include grid(24);
  // }
  .sub {
    @include grid(6);
  }
  .main-content {
    @include grid(18);
  }
}
//.grid_* > .grid_*
.grid_row {
  @include clearfix;
  margin-left: -10px;
  margin-right: -10px;
}
// Reset
body {
  background-color: $bodyBgColor;
  color:            $bodyFontColor;
  font-family:      $bodyFontFamily;
  font-size:        $baseFontSize;
  line-height:      $baseLineHeight;
}
a {
  text-decoration: none;
  color: $PrimaryColor2;
}
img {
  max-width: 100%;
}
h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}
// 全域共用 排版樣式
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.center {
  text-align: center;
}
.img-circle {
  @include border-radius (50%);
}
.circle {
  @include border-radius (100%);
}
%circle {
  @include border-radius (100%);
}
.inline-row {
  @include clearfix;
  > * {
    display: inline-block;
  }
}
// 新人推薦分享
.grid_12 .grid_16 {
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

// 板面
.wrapper {
  margin: 0 auto;
  width: 980px;
  border: 10px solid $PrimaryColor;
  z-index: 1;
}
.header {
  position: relative;
  z-index: 9;
}
.banner {
  position: relative;
  margin-top: 55px;
  height: 300px;
  z-index: 7;
  /*範例*/
  background: url(../images/assets/slideshow.png);
  &.index {
    height: 405px;
    background: none;
  }
  > .slogn {
    position: absolute;
    left: 80px;
    top: 35px;
    margin: 0;
    width: 280px;
    text-align: center;
    > span {
      background-color: rgba(255,255,255,0.3);
      font-family: $PrimaryFamily;
      font-style: italic;
      font-size: 24px;
      line-height: 40px;
      text-transform: uppercase;
      padding: 0 5px;
    }
    .slogn2 {
      font-family: bodyFontFamily;
      font-size: 12px;
    }
  }
}
.main {
  @include clearfix;
  padding: 20px;
  background-color: #f0f0f0;
  > .container_12 {
    margin-left: -10px;
  }
  .main-content {
    &.grid-list {
      .grid_6:nth-child(3n+1) {
        margin-left: 0;
      }
      .grid_6:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}
.footer {
  font-size: 13px;
  @include clearfix;
  padding: 20px;
  background-color: #fff;
}
.section {
  @include clearfix;
  margin-bottom: 20px;
}
.logo {
  @include bg('logo.png');
  width: 98px;
  height: 98px;
  margin: 56px auto 0;
}
.navbar {
  width: 980px;
  height: 51px;
  border-bottom: 4px solid #ddd;
  background-color: #fff;
  position: absolute;
  .nav {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .1em;
    > li {
      float: left;
      overflow: hidden;
      > a {
        padding: 16px 0 14px;
        display: block;
        color: #000;
        text-decoration: none;
        > span {
          display: block;
          padding: 0 18px;
          border-left: 1px solid #ededed;
        }
      }
      &.active , &:hover {
        background-color: $PrimaryColor;
      }
      &:first-child span {
        border: none;
      }
    }
    &.left {
      margin-left: 60px;
      float: left;
    }
    &.right {
      margin-right: 30px;
      float: right;
    }
  }
}
@mixin logocircle {
  position: absolute;
  width: 170px;
  height: 170px;
  padding: 4px;
  top: -56px;
}
.logo-mask {
  @include logocircle;
  overflow: hidden;
  margin-left: -89px;
  top: 0;
  left: 50%;
}
.logo-circle {
  @include circle;
  @include logocircle;
  padding: 4px;
  background-color: #ddd;
}
.logo-circle-inner {
  background-color: #fff;
  @include circle;
  @include logocircle;
  padding: 0;
  margin: 4px;
} 
.login , .user-assets {
  position: absolute;
  @include wh(78,78);
  @include circle;
  @include box-sizing(border-box);
  right: 20px;
  top: 25px;
  @include bg('login-icon.png');
  background-repeat: no-repeat;
  background-position: center 12px;
  background-color: #a9a9a9;
  text-align: center;
  color: #fff;
  .inner {
    margin-top: 40px;
  }
  a {
    color: #fff;
  }
}
.user-assets {
  background-color: $PrimaryColor;
  border: 4px solid $PrimaryColor;
  @include wh(116,116);
  .inner {
    @include box-sizing(border-box);
    border: 2px  solid #fff;
    @include wh(108,108);
    @include circle;
    margin-top: 0;
    padding: 40px 10px 0;
  }
}
.page-heaer {
  position: absolute;
  top: 64px;
  @include box-shadow (4px 2px 5px rgba(0,0,0,.2));
  background-color: #fff;
  h1 {
    @include hide-text;
  }
  span {
    @include hide-text;
  }
}
.search-bar {
  position: absolute;
  width: 900px;
  height: 41px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $PrimaryColor;
  border-bottom: 2px solid $PrimaryColor2;
  @include border-radius (8px);
  @include box-shadow (0px 2px 1px rgba(71,73,60,0.3));
  bottom: 0;
  > .ul > .li {
    height: 40px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    border-left: none;
    position: relative;
  }
  > .ul > .li + .li {
    border-left: 3px solid #78d1af;
  }
}

.select , .input-text , .search-btn {
  height: 23px;
  line-height: 25px;
  background-color: #fff;
  padding: 2px 40px 0 20px;
  display: inline-block;
  color: $PrimaryColor;
  font-size: 16px;
  font-weight: bold;
}
// .select {
//   margin-top: 7px;
//   @include border-radius (3px);
//   @include bg('select-arrow.png');
//   background-position: center right;
//   background-repeat: no-repeat;
//   @include box-shadow (0 1px rgba(255,255,255,.6), inset 0 2px rgba(0,0,0,.2));
// }
.search-box {
  width: 285px;
  @include box-shadow (0 2px 1px rgba(71,73,60,.25));
  @include border-radius (6px);
  margin-top: 7px;
  @include clearfix;
  overflow: hidden;
  position: relative;
  .input-text , .search-btn {
    float: left;
    @include reset-box-model;
  }
  .input-text {
    width: 185px;
    padding: 2px 10px 0 10px;
    //@include border-radius (6px 0 0 6px);
    @include box-shadow (inset 0 -2px rgba(0,0,0,.3));
  }
  .search-btn {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    border: none;
    width: 80px;
    height: 25px;
    padding: 2px 30px 0 10px;
    //@include border-radius (0 6px 6px 0);
    background-color: #71c4a4;
    @include bg ('search.png');
    background-position: center right;
    background-repeat: no-repeat;
    border-bottom: 2px solid #4f8972;
    cursor: pointer;
  }
}

/*FOOTER*/
.footer {
  font-family: 'Times New Roman','Times',微軟正黑體, 'Microsoft JhengHei', 新細明體,serif;
  color: #000;
  a {
    color: #000;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
    height: 28px;
    color: #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
    margin-bottom: 20px;
  }
}

ul.menu-stacked {
  > li {
    margin: 2px 0;
    > a {
      position: relative;
      display: block;
      padding: 4px 10px;
      display: block;
    }
    &.active {
      background-color: $PrimaryColor;
      color: #fff;
    }
  }
}
.coontact-icon {
  padding-left: 32px;
  @include bg('contact-icon.png');
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  line-height: 18px;
}
.copyright {
  @include clearfix;
  margin: -20px;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  color: #a4a4a4;
}

/*breadcrumb*/
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  > li {
    display: inline-block;
    > a {
      color: #909090;
      font-size: 12px;
    }
    &.active {
      a {
        color: #000;
      }
    }
  }
  li + li:before {
    padding: 0 6px;
    color: #cccccc;
    content: url(../images/breadcrumb.png);
  }
  > li:first-child {
    &:before {
      content: "您的位置：";
      padding-right: 5px;
    }
  }
}

.well {
  @include clearfix;
  background-color: rgb( 255, 255, 255 );
  @include border-radius (2px);
  @include box-shadow (1px 2px 5px 0px rgb( 204, 204, 204 ));
  margin-bottom: 10px;
  &.lb {
    border-color: $PrimaryColor;
    border-left-width: 5px;
    border-left-style: solid;
  }
  &.tb {
    border-color: $PrimaryColor;
    border-top-width: 5px;
    border-top-style: solid;
  }
}
.pd21 {
  padding: 20px 10px;
}
.pd01 {
  padding: 0px 10px;
}
.pd10 {
  padding: 10px;
}
/*頁面區塊標題*/
.page-title {
  @include wh(180,20);
  @include hide-text;
  display: block;
  margin: 30px 10px 10px;
  clear: both;
  &.pt-1 {
    @include bg('pt-s-pf.png');
  }
  &.pt-2 {
    @include bg('pt-s-p.png');
  }
  &.pt-3 {
    @include bg('pt-o-t.png');
  }
  &.pt-4 {
    @include bg('pt-new.png');
  }
  &.pt-5 {
    @include bg('pt-n-p.png');
  }
  &.pt-6 {
    @include bg('pt-oo-p.png');
  }
}
.activity {
  @include clearfix;
  clear: both;
  margin-bottom:10px; 
  dt , dd {
    color: $PrimaryColor;
    display: block;
    padding: 2px;
    min-height: 23px;
  }
  .trending { @include icon('trending-icon-p.png');}
  .favorite { @include icon('favorite-icon-p.png');}
  .share    { @include icon('share-icon-p.png');}
  .hart    { @include icon('share-icon-p.png');}
  &.stacked {
    dt {
      width: 4em;
      padding-left: 24px;
      float: left;
    }
    dd {
      width: auto;
      padding-left: inherit;
      margin-left: 5em;
    }
  }
  &.inline {
    dt , dd {
      float: left;
    }
    dt {
      width: 1.5em;
    }
    dd {
      width: 3em;
    }
    &.text {
      dt {
        width: 3.5em;
        padding-left: 1.5em;
      }
      dd {
        width: 3em;
      }
    }
  }
}

/*.sub*/
.sub {
  @include box-shadow (0 3px 3px rgba(0,0,0,.3));
  background-color: #fff;
}
.sub-header {
  text-align: center;
  background-color: #fff;
  @include box-shadow(0 2px 5px rgba(0,0,0,.22));
  @include bg('sub-header.png');
  font-size: 14px;
  line-height: 37px;
}
.pnl {
  padding: 10px;
}
.pnlh {
  @include bg('p-space.gif');
  background-position: center;
  background-repeat: repeat-x;
  text-align: center;
  margin-bottom: 10px;
  h5 {
    display: inline-block;
    padding: 5px 15px;
    color: $PrimaryColor;
    font-size: 14px;
    margin: 0 auto;
    background-color: #fff;
  }
}

.stylist-profile {
  border-top: 5px solid $PrimaryColor;
  padding: 10px;
  p {
    margin-bottom:20px; 
  }
}

.back-btn {
  background-color: $PrimaryColor;
  color: #fff;
  display: block;
  line-height: 37px;
  border-bottom: 3px solid #e5e5e5;
  padding-left: 48px;
  margin: 20px 0;
  @include bg('back-btn.png');
  background-repeat: no-repeat;
  background-position: 24px center;
}
.photo-list-container {
  background-color: #fff;
  @include box-shadow(-1px 2px 5px rgba(0,0,0,.22));
  padding: 10px 13px 10px 12px;
  color: #909090;
  position: relative;
  h3 {
    margin: 10px 0;
    color: #000;
    font-weight: bold;
    margin-right: 80px;//字數太多會撞到彩帶
  }
}
.ribbon {
  @include bg('ribbon.png');
  width: 38px;
  height: 51px;
  position: absolute;
  top: -12px;
  cursor: pointer;
  z-index: 99;
  .icon {
    @include wh(16,16);
    margin-left: 12px;
    margin-top: 14px;
  }
  &.favorite {
    right: 13px;
    .icon {
      @include icon('favorite-icon-w.png');
    }
  }
  &.share {
    right: 55px;
    .icon {
      @include icon('share-icon-w.png');
    }
  }
  &.hart {
    right: 55px;
    .icon {
      @include icon('hart-icon-w.png');
    }
  }
}

.photo-list > li {
  display: inline-block;
  padding: 10px;
  width: 205px;
  vertical-align: top;
  a {
    display: block;
  }
  p {
    //@include word-break(break-all);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    height: 1.5em;
  }
}
.item {
  background-color: #fff;
  @include box-shadow(0 3px rgba(0,0,0,.05));
  margin-bottom: 30px;
  .hover {
    display: none;
  }
  &:hover {
    .hover {
      display: block;
    }
    .quick-view {
      @include animation (moveFromTop 300ms ease-in-out);
    }
    .activity.inline {
      @include animation (moveFromBottom 300ms ease-in-out);
    }
  }
}
.avatar-wrapper {
  position: relative;
  height: 220px;
  //overflow: hidden;
  .avatar {
    position: absolute;
  }
  .hover {
    background-color: rgba(134,228,192,.3);
    //@include opacity (0.3);
    @include wh(220,220); 
    position: absolute;
    overflow: hidden;
    .activity.inline {
      @include transition (all 300ms linear );
      width: 210px;
      bottom: 0;
      position: absolute;
      background-color: #fff;
      display: block;
      margin: 0;
      padding: 5px;
    }
  }
  .quick-view {
    @include wh(40,40);
    padding: 26px;
    @include border-radius (999px);
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-family: 'PT Sans';
    margin-left: -46px;
    left: 50%;
    position: absolute;
    top: 45px;
    color: $PrimaryColor;
    @include transition (all 300ms linear);
  }
}
.item-description {
  @include clearfix;
  .avatar {padding: 5px;}
  .name {
    padding-top: 5px;
  }
  .enname {
    font-family: Didot;
  }
  .name , .enname {
    line-height: 20px;
  }
}
.collaboration-btn {
  display: block;
  @include wh(40,40);
  @include hide-text;
  @include bg('collaboration-btn.png');
  background-color: $PrimaryColor;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
}
@include keyframes(moveFromBottom) {
  from {
    @include transform(translateY(200%));
    opacity: 0;
  }
  to {
    @include transform(translateY(0%));
    opacity: 1;
  }
}

@include keyframes(moveFromTop) {
  from {
    @include transform(translateY(-200%));
    opacity: 0;
  }
  to {
    @include transform(translateY(0%));
    opacity: 1;
  }
}
.share-to {
  display: block;
  cursor: pointer;
  .share-to-tooltip {

  }
}
.share-to-tooltip {
  color: #fff;
  display:none; 
  text-align:center;
  background-color: #e76049;
  color:white; 
  padding:10px;
  width:60px;
  position:fixed; 
  z-index: 9999;
  white-space: nowrap;
  width: 144px;
  a {
    display: block;
  }
  ul {
    padding-top: 10px;
  }
  li {
    padding: 5px;
    border-top: 1px solid #e96f5a;
  }

  &:hover {
    .hover {
      display: block;
    }
  }
  &:after {
    display: inline-block;
    position: absolute;
    left: -12px;
    top: 4px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 24px solid #e76049;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }
}

/*給我造型師.section*/
.section-s {
  padding: 10px 8px;
  position: relative;
  color: #999;
  margin-bottom: 20px;
  .title { color: #000; font-size: 14px;}
  .more { 
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
    @include wh(44,24);
    @include bg('section-more.png');
    @include hide-text;
  }
  .data {
    //margin-bottom: 5px;
  }
  &.new {
    height: 100px;
    .avatar { float: left; }
    .title , .data , p { margin-left: 120px; display: block; }
  }
  &.new-p {
    height: 235px;
    .avatar { margin-left: 10px; }
    .title , .data , p  , .arthor { display: block; }
    .arthor {
      text-align: right;
      &:before {
        content: "by ";
        font-size: 11px;
      }
    }
  }
  &.s-pt {
    .title , p {
      display: block;
     }
    .avatar-pos {
      position: relative;
      height: 294px;
      >.avatar:first-child { 
        @include wh(292,292);
        position: absolute;
        top: 0;
        left: 0;
      }
      >.avatar:nth-child(2) , >.avatar:last-child { 
        @include wh(142,142);
        position: absolute;
      }
      >.avatar:nth-child(2) {
        top: 0;
        right: 0;
      }
      >.avatar:last-child {
        bottom: 0;
        right: 0;
      }
      .avatar:nth-child(n+4){ 
        display: none;
      }
    }
  }
  &.cal {
    padding: 15px 25px;
  }
  &.tab {
    padding: 0;
    .profile {
      margin: 0 -10px;
      padding: 5px 20px;
      color: #333;
      @include box-shadow (0 2px 5px rgb( 230, 230, 230 ));
    }
    .left {
      float: left;
    }
    .right {
      margin-left: 110px;
    }
  }
}
.readmore-btn {
  border: solid 2px $PrimaryColor;
  background-color: #fff;
  display: block;
  @include wh(134,30);
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  clear: both;
}

$calendarBg: #2e3641;

.calendar {
  background: $PrimaryColor;
  color: #fff;
  max-width: 200px;
  min-height: 200px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  p {
    background: $calendarBg;
    line-height: 35px;
    border: 1px solid #343c47;
  }
  .group {
  }
  .group:after {
    content: "";
    display: table;
    clear: both;
  }
  .prev , .next {
    width: 35px;
    line-height: 35px;
    cursor: pointer;
  }
  .prev {
    border-right: 1px solid #343c47;
    float: left;
  }
  .next {
    border-left: 1px solid #343c47;
    float: right;
  }
  li {
    float: left;
    width: calc(100%/7);
    text-align: center;
    padding: 0;
    cursor: pointer;
    font-size: 15px;
    &:nth-child(n+8) {
      &:hover,&.active {
        font-weight: bold;
        @include circle;
        background-color: $calendarBg;
      }
    }
    &:nth-child(-n+7) {
      font-size: 11px;
      background: $calendarBg;
      cursor: inherit;
    }
    &:nth-child(7) {

    }
  }
}
.calendar+.calendar {
  margin-left: 10px;
}
.last-time {
  display: block;
  text-align: right;
}
.booking-btn {
  display: block; 
  img {
    margin: 10px auto -50px auto;
  }
}
ul.tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f7f7f7;
  float: left;
  li {
    @include box-sizing (border-box);
    //width: (100%/4);
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 15px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e6e6e6;
    border-left: none;
    border-bottom: 1px solid #fff;
    background-color: #f7f7f7;
    color: #333;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    text-align: center;
    &:hover {
      background-color: #ccc;
      color: #333;
    }
    &.active {
      background-color: #fff;
      color: #333;
      border-bottom: 1px solid #fff;
      display: block;
    }
  }
}
.tab_container {
  border-top: none;
  clear: both;
  width: 100%;
  background: #fff;
  overflow: auto;
}
.tab_last { border-right: 1px solid #333; }

.tab_content {
  padding: 10px;
  padding-bottom: 0;
  display: none;
  min-height: 340px;
  h3 {
    font-size: 18px;
    color: #333;
  }
  hr {
    border-color: #e9e9e9;
  }
}
.contact , .service-counties {
  padding: 10px;
  overflow: hidden;
  .table-row {
    display: table-row;
    > dt {
      display: table-cell;
      color: #333;
      font-weight: bold;
      line-height: 28px;
    }
    > dd {
      display: table-cell;
      color: #999;
      line-height: 28px;
      padding-left: 1em;
    }
  }
}
.service {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 20px;
  float: left;
  h4 {
    font-size: 12px;
    color: #333;
  }
}
.s-scrool {
  width: 450px;
  height: 340px;
  -ms-overflow-y: scroll;
  overflow-y: scroll;
  
}

/* Modal styles */
.modal {
  display: none;
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // @include box-sizing (content-box);
  //@include transform (translate(-50%, -50%));
  background: #fff;
  border-top: 10px solid $PrimaryColor;
  @include border-radius (3px);
  @include box-shadow (0 3px 14px black);
  z-index: auto;
  margin-top: 80px;
  padding: 20px;
  // &.styled {
  //   width: 820px;
  //   padding: 20px;
  // }
  &.login-modal {
    width: 620px;
    padding: 20px;
  }
  &.reg-modal {
    width: 380px;
    padding: 20px;
  }
  .modal-close {
    @include wh(38,32);
    @include bg('modalclose.png');
    @include hide-text;
    display: block;
    float: right;
    margin: -20px;
  }
  // .inner {
  //   width: 820px;
  //   max-height: 620px;
  //   padding: 20px;
  //   overflow-y: auto;
  // }
  .row-t {}
  .row-d {}
  .colum-l {
    width: 480px;
    float: left;
    h3 , p {
      margin-left: 60px;
    }
    h3 {
      font-size: 18px;
      color: #333;
    }
  }
  .colum-r {
    width: 300px;
    float: right;
    h4 , .type , .counties {
      margin-left: 82px;
    }
    h4 {
      font-size: 14px;
    }
    .enname {
      font-family: Didot;
    }
    .type {
      @include hide-text;
      display: block;
      @include bg('photographer.png');
      @include wh(150,28);
      margin-bottom: 10px;
    }
    .counties {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .description {
      border-top: 1px dashed $PrimaryColor;
      padding: 10px 0;
      overflow-y: scroll;
      max-height: 350px;
    }
  }
  .title-header {
    background-color: #86e4c0;
    @include box-shadow(0 2px 5px rgba(0,0,0,.22));
    line-height: 52px;
  }
}
.modal-background {
  display: none;
  position: fixed;
  background: #000;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.avgrund-active {
  @include filter (blur(5px));
  position: fixed;
  left: 50%;
  margin-left: -509px;//scroll+9px//之後再用jq判斷
}

.slider-photo {
  @include wh(480,320);
  @include clearfix;
  background: black;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  img {
    max-height: 320px;
    margin: 0 auto;
  }
  ul {
  }
  li {
    width: 480px;
    position: absolute;
    text-align: center;
    left: 100%;
  }
  .active {
    left: 0;
  }
}
.slider-sub {
  position: relative;
  width: 480px;
  clear: both;
  @include clearfix;
  .slider-sub-inner {
    overflow-x: hidden;
    .mediabannerlist {
      .mag_cover {
        float: left;
        @include wh(72,72);
        overflow: hidden;
      }
      li+li {
        margin-left: 10px;
      }
    }
  }
}
.scroller {
  position: absolute;
  top: 0;
  @include wh(40,72);
  @include hide-text;
  display: block;
  background-position: center;
  cursor: pointer;
  &.prev {
    left: 0;
    @include bg('slider-sub-l.png');
  }
  &.next {
    right: 0;
    @include bg('slider-sub-r.png');
  }
}
/*banner slider*/
.banner {
  .slider-nav {
    position: absolute;
    right: 20px;
    bottom: 60px;
    > div {
      @include circle;
      @include wh(10,10);
      display: inline-block;
      cursor: pointer;
      background: #fff;
      margin: 2px;
      z-index: 19;
    }
    .active {
      background: $PrimaryColor;
    }
  }
  .viewport {
    width: 980px;
    height: 405px;
    overflow: hidden;
    z-index: 1;
  }
  .slides {
    position: relative;
    width: inherit;
    @include transition (all 0.5s ease-in-out);
    > div {
      position: absolute;
      width: 100%;
      float: left;
      min-height: 405px;
      overflow: hidden;
    }
  }
  .slide {
    @for $i from 0 through 4 {
      &:nth-child(#{$i+1}) {
        margin-left: 100%*$i; 
      }
    }
  }
  
  .slide {
    margin-left: 100%; 
  }
  .slide {
    margin-left: 200%; 
  }
  .slide {
    margin-left: 300%;
  }
  .slider-control {
    position: absolute;
    width: 980px;
    height: 70px;
    z-index: 18;
    top: 150px;
    left: 0;
  }
}

//後台//
.btn {
  border: 0;
  background-color: $PrimaryColor;
  box-shadow: 0px 3px 0px #e5e5e5;
  padding: 5px 8px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.btn + .btn {
  margin-left: 10px;
} 
.editprofile-form , .editalbum-form , .login-form , .order-form {
  h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    padding-right: 10px;
    color: $PrimaryColor;
    &:after {
      content: url(../images/h4bb.png);
    }
  }
  label , .control-label {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    &:before {
      content:url(../images/sub-menu-liststyle.png);
      padding-right: 10px;
    }
  }
  label + label {
    margin-left: 10px;
  }
  input {
    padding: 3px;
    min-width: 220px;
  }
}
.control-group {
  padding: 10px;
  .controls {
    margin-left: 15px;
    label:before {
      content: none;
    }
  }
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}
//9.1//
.pd10 {
  > .calendar {
    max-width: 320px;
    min-height: 320px;
    margin: 10px;
    li {
      line-height: 44px;
    }
  }
  .calendar + .calendar {
    margin-left: 10px;
  }
}
img.calendar-directions {
  max-width: 700px;
  margin: 10px -10px -18px -10px; 
}
.date , .notifications {
  height: 56px;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  font-weight: bold;
}
.date {
  background-color: #000;
  color: $PrimaryColor;
  padding-right: 100px;
  display: inline-block;
  margin-top: 10px;
  .date-dd {
    font-size: 36px;
    line-height: 40px;
  }
  .date-wd {
    font-size: 14px;
    line-height: 60px;
    margin-left: 10px;
  }
}
.notifications {
  padding-left: 55px;
  @include bg('alerts-icon-r.png');
  background-repeat: no-repeat;
  background-position: 20px center;
  color: #e76049;
  line-height: 60px;
  span {
    padding-left: 10px;
  }
}
.ioslide {
  position: relative;
}

input.iostyle[type=checkbox] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: block;
  position: relative;
  cursor: pointer;
  @include transition (all 0.2s);
  width: 138px;
  height: 35px;
  @include border-radius(5px);
  background-color: #fff;
  @include box-shadow(0 1px rgba(255,255,255,.6), inset 0 2px rgba(0,0,0,.2));
  border: solid 1px #ededed;
}

.ioslide label {
  display: block;
  position: absolute;
  top: 3px;
  margin-left: 68px;
  z-index: 100;
  //cursor: pointer;
  @include transition (margin-left 0.5s);
  width: 71px;
  height: 30px;
  @include border-radius(5px 4px 4px 5px, 5px);
  background-color: #86e4c0;
  @include box-shadow(0 2px 1px rgba(71,73,60,.25), inset 0 -2px rgba(0,0,0,.3));
  &:before {
    display: block;
    content: "";
    position: absolute;
    @include bg('slide-ar-l.png');
    @include wh(18,18);
    left: 25px;
    top: 5px;
    z-index: 80;
  }
}

input.iostyle[type=checkbox] {
  &:checked + label {
    margin-left: 6px;
    &:before {
      @include bg('slide-ar-r.png');
    }
  }
  &:before {
    display: block;
    content: "ON";
    color: #000;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 80;
  }
  &:checked {
    background: #bababa;
    &:before {
      content: "OFF";
      left: 85px;
    }
  }
}
table.reservation {
  width: 100%;
  thead {
    border-bottom: 1px solid #f5f5f5;
  }
  tr + tr {
    border-top: 1px solid #f5f5f5;
  }
  td {
    vertical-align: top;
    padding: 5px;
  }
  .name {
    font-size: 14px;
    line-height: 56px;
    padding-left: 10px;
    vertical-align: top;
  }
  .alert-icon {
    margin-top: 5px;
  }
  .alert-icon + input {
    margin-top: 11px;
    margin-right: 15px;
  }
  .h3 {
    color: $PrimaryColor;
  }
}

//9.2//
.user {
  margin: 10px 20px;
  text-align: center;
}
.name {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  margin: 0;
  text-align: left;
}
.user-menu {
  > li {
    padding: 5px;
    padding-left: 15px;
    @include bg('sub-menu-liststyle.png');
    background-position: left 13px;
    background-repeat: no-repeat;
    clear: both;
    overflow: hidden;
    font-weight: bold;
    > a {
      font-size: 14px;
      color: #333;
    }
    span {
      float: right;
      font-weight: normal;
    }
    &:hover , &.active{
      > a {
        color: $PrimaryColor;
      }
      &:after {
        content: url('../images/submenu-hoverarr.png');
        padding-left: 5px;
      }
    }
  }
  li+li {
    border-top: solid 1px #f2f2f2; 
  }
  .badges {
    @include circle;
    color: #fff;
    background-color: #333;
    display: inline-block;
    min-width: 12px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: bold;
  }
  .lasttime {
    font-size: 10px;
    &:before {
      content: "最近更新時間";
      padding-right: 5px;
    }
  } 
}
.main-content .page-title {
  margin-top: 10px;
}
// .w340 {
//   width: 340px;
//   display: inline-block;
// }
// .w340 + .w340 {
//   margin-left: 20px;
// }
.space {
  border: 1px solid transparent;
  border-top-color: #d6d6d6 ;
  border-bottom-color: #fff;
  margin: 10px 10px 20px 10px;
}
.alerts {
  padding: 10px 20px 10px 70px;
  background-color: #000;
  @include bg('alerts-bg.png');
  background-position: 20px center;
  background-repeat: no-repeat;
  min-height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  > .progress {
    float: right;
  }
}
.alerts + .well {
  margin-top: 10px;
}
.progress {
  font-size: 12px;
  .progress-ber {
    @include wh(100,10);
    background: #c5c5c5;
    display: inline-block;
  }
  &:before {
    content: '完整度';
    padding-right: 5px;
    display: inline-block;
  }
  &:after {
    content: '80%';
    padding-left: 5px;
    display: inline-block;
  }
}

//9.3//
.useredit-tab {
  overflow: hidden;
  > li {
    display: block;
    padding: 0 20px;
    float: left;
    font-size: 14px;
  }
  li + li {
    border-left: solid 1px #f5f5f5; 
  }
  li > a {
    display: block;
    line-height: 18px;
    color: #000;
  }
  .active {
    color: $PrimaryColor;
  }
}
//9.3.2//
.header-title , .toprow {
  width: 700px;
  margin: -20px -10px;
  > li , div {
    padding: 5px 10px;
    display: inline-block;
    background-color: #000;
    color: $PrimaryColor;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    &:nth-child(1) {width: 60px;}
    &:nth-child(2) {width: 280px;}
    &:nth-child(3) {width: 80px;}
    &:nth-child(4) {width: 90px;}
    &:nth-child(5) {width: 90px;}
  }
}
.toprow {
  overflow: hidden;
  vertical-align: top;
  margin: 0 -10px;
  clear: both;
  > div {
    background-color: #fff;
    color: #000;
    display: inline-block;
    &:nth-child(1) {width: 60px;
    }
    &:nth-child(2) {width: 280px;
      input { width:280px;}}
    &:nth-child(3) {width: 80px;
      input { width:25px;}}
    &:nth-child(4) {width: 90px;
      input { width:80px;}}
    &:nth-child(5) {width: 90px;
      input { width:80px;}}
  }
}
.note > textarea {
  margin-left: 80px;
  width: 595px;
}
.project-price {
  > li:nth-child(2) {
    margin-top: 10px;
  }
  > li + li {
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 0;
  }
}
.ps {
  width: 430px;
  padding: 20px;
}              
//9.5//
.ed-title {
  font-size: 18px;
  font-weight: bold;
  color: $PrimaryColor;
  display: inline-block;
  margin-right: 20px;
}
.portfolio-tx {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  a {
    padding: 0 8px;
  }
}
.search {
  border: none;
  width: 200px;
  height: 23px;
  line-height: 23px;
  @include border-radius(4px 0 0 4px);
  @include box-shadow(inset 1px 2px 3px rgba(0,0,0,.2));
  background-color: #fefefe;
  margin-top: 0;
}
.seach-btn-b {
  border: none;
  width: 30px;
  height: 25px;
  @include border-radius(0 4px 4px 0);
  @include box-shadow(0 2px 2px rgba(0,0,0,.2));
  background-color: #000;
  @include bg ('search.png');
  background-position: center;
  margin-top: 0;
  background-repeat: no-repeat;
}
.sort {
  > li {
    display: inline-block;
    padding: 0 10px;
    > a {
      padding-left: 20px;
      color: #000;
      display: block;

    }
  }
  > li+li {
    margin-left: 10px;
    border-left: 1px solid #000;
  }
}
.icon16 {
  background-position: left center;
  background-repeat: no-repeat;
}
.icon-star {
  @include icon('star-icon-b.png');
}
.icon-eye {
  @include icon('trending-icon-b.png');
}
.icon-heart {
  @include icon('hart-icon-b.png');
}
.active {
  .icon-star {
    @include icon('star-icon-p.png');
  }
  .icon-eye {
    @include icon('trending-icon-p.png');
  }
  .icon-heart {
    @include icon('hart-icon-p.png');
  }
  .icon16 {
    color: $PrimaryColor2;
  }
}
.album-list {
  clear: both;
}
.album-list > li {
  h5 {
    font-weight: bold;
  }
  display: inline-block;
  width: 220px;
  padding: 10px;
  &:nth-child(3n+1) {
    padding-left: 0;
  }
  &:nth-child(3n+3) {
    padding-right: 0;
  }
  > .item2 {
    background-color: #fff;
    @include box-shadow(0 3px rgba(0,0,0,.05));
    padding: 10px;
    position: relative;
    > .album {
      display: block;
      margin: -10px -10px 0 -10px;
    }
  }
}
//9.5.2//
.form-horizontal .controls {
  margin-left: 100px;
}
.editalbum-form {
  .control-label {
    float: left;
  }
}
.upinfo {
  font-size:14px;
  font-weight:bold;
  span {
    padding-left: 5px;
    padding-right: 5px;
    color: $PrimaryColor;
  }
}
.del-btn {
  text-align: center;
  line-height: 24px;
  display: block;
  @include wh(24,24);
  background-color: $PrimaryColor;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
}
.cover-check {
  display: none;
  @include wh(220,220);
  @include bg('check-cover.png');
  position: absolute;
  left: 0;
  top: 0;
}

//login modal//
.login-modal.modal {
  > img.logo {
    margin-left: 250px;
    margin-top: 0;
  }
  .control-group + .control-group {
    padding-top: 0;
  }
}
.panel {
  margin: 0 auto;
  background-color: #fff;
  @include box-shadow(0 2px 5px rgba(0,0,0,.22));
}
.panel-heading {
  padding: 5px 15px;
  background-color: #86e4c0;
  @include box-shadow(0 2px 5px rgba(0,0,0,.22));
  .heading-title {
    font-size: 18px;
    color: #000;
    text-align: left;
  }
}
.panel-body {
  @include clearfix;
  padding: 20px 10px;
  color: inherit;
}
//Reg//
.reg-modal > img.logo {
  margin-left: 130px;
  margin-top: 0;
}
.reg-modal {
  .control-group + .control-group {
    padding-top: 5px;
    padding-bottom: 0;
  }
}
img.random {
  vertical-align: top;
}
//reg-success//
.panel-heading .heading-title {
  overflow: hidden;
}
// index //

.mmenu {
  background-color: #f0f0f0;
  height: 58px;
  padding-top: 15px;
  text-align: center;
  > ul {
    display: block;
    width: 670px;
    margin: 0 auto;
    overflow: hidden;
    > li {
      display: inline-block;
      > a {
        display: block;
        padding: 5px 30px;
        color: #000;
        font-weight: bold;
        @include text-shadow (0 1px 1px #fff);
      }
    }
    li + li {
      border-left: 1px solid #dedede;
    }
  }
  .icon-camera , .icon-woman , .icom-videocam , .icom-balloon {
    padding-left: 75px;
    background-position: 30px center;
    background-repeat: no-repeat;
  }
  .icon-camera {
    @include bg('camera-icon.png');
  }
  .icon-woman {
    @include bg('woman-icon.png');
  }
  .icom-videocam {
    @include bg('videocam-icon.png');
  }
  .icom-balloon {
    @include bg('balloon..png');
  }
}
.events {
  .avatar-wrapper {
    height: 300px;
  }
  .avatar {
    
  }
  .ribbon {
    top: -11px;
  }
  .share {
    right: 13px;
  }
  .hart {
    right: 55px;
  }
  .cover {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  dl {
    overflow: hidden;
  }
  dt {
    width: 45px;
    float: left;
  }
  dd {
    margin-left: 45px;
  }
  .places {
    color: $PrimaryColor;
    span {
      padding: 0 15px;
    }
  }
}
.cooperation {
  margin-bottom: 80px;
  .pnlh {
    width: 30%;
    @include bg('b-space.gif');
    margin: 0 auto;
    margin-bottom: 40px;
    h2 {
      display: inline-block;
      padding: 5px 15px;
      color: #000;
      font-size: 14px;
      margin: 0 auto;
      background-color: #fff;
    }
  }
}